<template name="circularImage">

  <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s4">
              <img 
                src="http://image1.8ball.co.uk/catalog/product/cache/1/thumbnail/700x/9df78eab33525d08d6e5fb8d27136e95/S/P/SPONGEBOB_-_FACE_YEL_KIDS_cu_4_2_3_1.jpg"
                alt="Let's kick it!"
                class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s8">
              <span class="black-text flow-text">
                This is a square image. Add the "circle" class to it to make it appear circular.
              </span>
            </div>
          </div>
        </div>
      </div>

</template>