<template name="topNav">

  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#services">Services</a></li>
        <li><a href="#ourTeam">Our Team</a></li>
        <li><a href="#enroll">Enroll</a></li>
        <li><a href="#contactUs">Contact Us</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#services">Services</a></li>
        <li><a href="#ourTeam">Our Team</a></li>
        <li><a href="#enroll">Enroll</a></li>
        <li><a href="#contactUs">Contact Us</a></li>
      </ul>
    </div>
  </nav>


</template>